
<%= partial 'layouts/header' %>

<div class="row">

  <!-- Blog Post Content Column -->
  <div class="col-lg-12" role="main">
    <h1><%= current_article.title %></h1>
    <%= yield %>
  </div>

</div>
<!-- /.row -->
<%= partial 'layouts/footer' %>
