<div class="resume">
  <p class="pdf-link">
    <a href="/joshua_paling_resume.pdf" target="_blank">Download as PDF</a>
  </p>
  <br /><br />
  <div class="row">
    <div class="col-sm-4">
      <h2>Professional Profile</h2>
    </div>
    <div class="col-sm-8">
      <p>
        I'm a <strong>full stack</strong> web developer, with <strong>12 years</strong> programming experience.
      </p>
      <p>
        I have experience across the <strong>full lifecycle</strong> of web apps, from meeting with clients to scope requirements, through to database design, both frontend and backend web development, managing server configuration and deployment, and long term code maintenance.
      </p>
      <p>
        I'm extremely <strong>conscientious</strong>. I write good quality, readable/maintainable, bug-free code, and focus on effectively managing technical debt.
      </p>
      <p>
        Each project is an opportunity to build upon my collection of <strong>best practices</strong> and great example code, to make future projects easier, better, and more enjoyable.
      </p>
      <p>
        I'm easy to work with and am comfortable meeting with <strong>non-technical stakeholders</strong> to develop technical specs.
      </p>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <h2>Key Skills</h2>
    </div>
    <div class="col-sm-8">
      <h4>Web application development (Ruby on Rails / Node.js specialist)</h4>

      <br />

      <div class="row">
        <div class="col-sm-6">
          <strong>Expert experience</strong>
          <br /><br />
          <ul>
            <li>Ruby on Rails</li>
            <li>RSpec</li>
            <li>HTML5, CSS3 / SASS</li>
            <li>SQL (Postgres & MySQL)</li>
            <li>Javascript / Node.js</li>
            <li>ReactJS</li>
            <li>Redux</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <strong>Strong experience</strong>
          <br /><br />
          <ul>
            <li>jQuery</li>
            <li>Gulp</li>
            <li>D3</li>
            <li>Flexbox</li>
            <li>Ansible</li>
            <li>Capistrano</li>
            <li>Continuous Integration (BuildKite, TravisCI)</li>
            <li>Laravel</li>
            <li>CakePHP 2</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-4">
      <h2>Professional Experience</h2>
    </div>
    <div class="col-sm-8">
      <h4>
        Senior Software Engineer, Luxury Escapes (contract role) <br />
        <small>April 2018 – present</small>
      </h4>
      <p>
        Building a multi-tenanted platform for selling "everyday experiences", and migrating Luxury Escapes' existing "experience" brands to this new platform. The platform's first brand, https://www.scoopon.com.au/, launched in May.
        <small><em>(Microservices, Node.js, React, Redux)</em></small>
      </p>
      <h4>
        Senior Software Engineer, Small Multiples (contract role) <br />
        <small>August 2016 – April 2018</small>
      </h4>
      <p>
        Building a "School Planning Assistance Tool" for the NSW Department of Education. The tool allow school planners to plan different scenarios for clusters of schools, and evaluate which is best on the basis of metrics like cost, saved maintenance cost, facility condition, meeting projected demand, and more.
        <small><em>(Node.js, React, Redux)</em></small>
      </p>
      <h4>
        Senior Software Engineer, Peopleplan (contract role) <br />
        <small>May - August 2016</small>
      </h4>
      <p>
        I worked in an agile team, developing a multi-tenanted <a href="https://experienceapi.com/overview/" target="_blank">xAPI</a>-compliant Learning Management System.
        <br /><small><em>(Rails, Laravel, React, jQuery, Postgres, Mongo)</em></small>
      </p>

      <h4>
        Founder, Technical Director/Developer, BBL Digital <br />
        <small>2012 – 2016</small>
      </h4>
      <p>
        I led the technical side of BBL Digital, both meeting with clients to scope out requirements for technical projects, building / maintaining web applications, and overseeing the work of contractors and junior developers.
      </p>

      <p>
        <a href="http://www.themanchallenge.com.au/" target="_blank">www.themanchallenge.com.au</a>: Event-based online health and fitness program for men. I met with the client to scope out technical requirements, wrote the majority of the code, and have maintained the codebase since the site launched in early 2015.
        <br /><small><em>(Rails, React, Reflux, jQuery, Postgres)</em></small>
      </p>

      <p>
        <a href="http://www.thebigvault.com.au/" target="_blank">www.thebigvault.com.au</a>: Bespoke Employee Relationship Management system for Brand Influence Group. Among other functions, the system automatically manages the delegation of time- and location-sensitive jobs to BIG's several hundred casual employees, each of whom have unique and potentially variable hours of availability. The system has drastically decreased the amount of manual admin work required to allocate jobs to employees, improved issues regarding employee reliability and accountability for allocated jobs, and improved visibility / transparency with regards to how BIG measures employee performance.
      </p>

      <p>
        The project has been used in production since 2013, and although I've moved on from BBL Digital, I continue to maintain the codebase to this day.
        <br /><small><em>(Rails, jQuery, MySQL)</em></small>
      </p>

      <h4>
        Freelance Web Developer <br />
        <small>2008 – 2012</small>
      </h4>

      <h4>
        Software Developer, Lokanet <br />
        <small>2004 – 2008</small>
      </h4>

    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-4">
      <h2>Community</h2>
    </div>
    <div class="col-sm-8">
      <p>I'm involved in the Sydney and Australian Ruby community:</p>
      <ul>
        <li>Co-organiser of Sydney ruby meetups</li>
        <li><a href="http://rubyconf.org.au/2017" target="_blank">Ruby Conf 2017</a>: head of volunteers</li>
        <li><a href="http://rubyconf.org.au/2016" target="_blank">Ruby Conf 2016</a>: head of volunteers</li>
        <li><a href="http://rubyconf.org.au/2015" target="_blank">Ruby Conf 2015</a>: <a href="https://rubyconf.eventer.com/rubyconf-australia-2015-1223/feeling-like-a-better-developer-aka-overcoming-impostor-syndrome-by-joss-paling-1729" target="_blank">spoke</a>, and also organised the Rails Girls Next workshop.</li>
        <li><a href="http://rubyconf.org.au/2014" target="_blank">Ruby Conf 2014</a>: Co-organiser and mentor at the Rails Girls Next workshop. Wrote <a href="http://guides.railsgirls.com/ruby-atm" target="_blank">one of the three exercises</a> for the workshop.</li>
        <li>Mentored and spoken at various other community events</li>
      </ul>

    </div>
  </div>

</div>
